@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

.container {
    @apply max-w-[1276px] mx-auto
}

@media (max-width: 1316px) {
    .container {
        @apply max-w-[calc(100%_-_40px)]
    }
}

[class*="copyrights-pane"] {
	display: none !important;
}

.new-life-swp .swiper-wrapper {
    align-items: stretch;
}

.new-life-swp .swiper-slide {
    height: auto;
}

input {
    @apply outline-none w-full pt-[23px] pb-[6px] px-[15px] lg:pb-[13px] lg:pt-[13px] border-b border-b-black-1 text-black-1 placeholder:text-gray-1 text-base lg:text-lg leading-[23px] lg:leading-[150%]
}

/* Изменение цвета стрелок навигации */
.swiper-button-next,
.swiper-button-prev {
    color: #fff !important; /* Здесь вы можете указать свой цвет */
}

/* Изменение цвета точек пагинации */
.swiper-pagination-bullet {
    background-color: #ffffff !important; /* Основной цвет точек пагинации */
    @apply lg:!hidden translate-y-8
}

.swiper-pagination-bullet-active {
    @apply !bg-green /* Цвет активной точки */
}

.project-swp .swiper-pagination {
    @apply flex justify-center
}

.project-swp .swiper-pagination-bullet {
    @apply !flex lg:hidden opacity-100 !bg-[#E0E0E0]
}

.project-swp .swiper-pagination-bullet-active {
    @apply !bg-green;
}