html {
    scroll-behavior: smooth;
}


.icon-container {
    @apply transition-all duration-300;
}

.icon-container img {
    @apply transition-all duration-300;
}

@media (min-width: 768px) {
    .icon-container img {
        filter: grayscale(100%);
    }

    .icon-container img:hover {
        @apply filter grayscale-0;
    }
}


/* Изменение цвета стрелок навигации */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;; /* Здесь вы можете указать свой цвет */
}

/* Изменение цвета точек пагинации */
.swiper-pagination-bullet {
  background-color: #ffffff !important;; /* Основной цвет точек пагинации */
}

.swiper-pagination-bullet-active {
  background-color: #00ff00 !important;; /* Цвет активной точки */
}